:root {
  /* font */
  --main-font: "Roboto", sans-serif;
  /*color*/
  --main-light: #fff;
  --main-dark: #000;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --accent-color: #2196F3;
  --main-background-color: #E5E5E5;
  --badge-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --icon-grey: #AFB1B8;
  /*animation*/
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*adaptive*/
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-font-color);
  background-color: var(--main-light);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
}

.section-title {
  margin-bottom: 30px;
  color: var(--main-font-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--black {
  color: var(--main-font-color);
}
.logo--white {
  color: var(--badge-background-color);
}

.header {
  background-color: inherit;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-content__button {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header-content__button {
    display: none;
  }
}
.header-content__button .header-content__icon-close {
  display: none;
}
.header-content__button.is-open .header-content__icon-close {
  display: block;
}
.header-content__button.is-open .header-content__icon-menu {
  display: none;
}

.header-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--main-light);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header-menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    margin-left: 93px;
  }
}
.header-menu .header-menu.is-open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--main-light);
}

.header-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 250ms var(--timing-function);
    transition: -webkit-transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  }
}

@media screen and (min-width: 768px) {
  .header-contact {
    margin-left: 84px;
    padding-left: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-left: 305px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .header-contact__item:not(:last-child) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__item + .header-contact__item {
    margin-left: 50px;
  }
}
.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  white-space: nowrap;
  color: var(--secondary-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .header-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}
.header-contact__icon-email {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.header-contact__icon-phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.hero {
  text-align: center;
  background: var(--footer-background-color);
}
.hero__title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light);
}
.hero__button {
  cursor: pointer;
  margin-top: 30px;
  color: var(--main-light);
  background-color: var(--accent-color);
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}
.hero__overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-16.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-16.jpg);
}

.advances {
  padding: 94px 0 47px;
}

.advances-blocks {
  padding-left: 0;
}
@media screen and (min-width: 1200px) {
  .advances-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .advances-blocks {
    text-align: center;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .advances-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.advances-blocks__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .advances-blocks__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 480px) {
  .advances-blocks__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advances-blocks__item {
    width: calc((100% - 30px) / 2);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advances-blocks__item {
    max-width: 270px;
  }
}
.advances-blocks__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--badge-background-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .advances-blocks__background {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advances-blocks__background {
    width: 270px;
  }
}
.advances-blocks__icon {
  width: 77px;
  height: 77px;
}
.advances-blocks__title {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
.advances-blocks__text {
  margin-top: 10px;
  line-height: 1.71;
  color: var(--secondary-font-color);
}

.activity {
  padding-top: 47px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}
.activity-blocks__overlay {
  position: relative;
}
.activity-blocks__background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.activity-blocks__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
  padding-top: 27px;
}

.command {
  background: var(--badge-background-color);
  padding: 94px 0 94px;
}

@media screen and (min-width: 768px) {
  .command-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
  }
}

.command-card {
  background-color: var(--main-light);
  width: 270px;
  height: 428px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-card__info {
  padding: 30px 0;
}
.command-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.command-card__text {
  color: var(--secondary-font-color);
  font-size: 16px;
  line-height: 1.18;
  margin-top: 10px;
  text-align: center;
}

.command-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  padding: 0 32px 30px 32px;
  white-space: nowrap;
}
.command-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-grey);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.command-socials__link:hover, .command-socials__link:focus {
  color: var(--main-light);
  background-color: var(--accent-color);
}
.command-socials__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.command-socials__icon:hover {
  fill: var(--main-light);
}

.clients {
  padding: 94px 0;
}

.clients-links {
  margin-top: 30px;
  padding-left: 0;
}
@media screen and (min-width: 1200px) {
  .clients-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .clients-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}
@media screen and (min-width: 480px) {
  .clients-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}
.clients-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  color: var(--icon-grey);
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .clients-links__link {
    width: 210px;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-links__link {
    width: 226px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-links__link {
    width: 170px;
  }
}
.clients-links__link:hover, .clients-links__link:focus {
  color: var(--accent-color);
  border-color: 1px solid var(--accent-color);
}
.clients-links__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 1199px) {
  .footer-content {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .footer-about {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-about {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-about {
    margin-right: 70px;
  }
}

.footer-block {
  padding-left: 0;
}
.footer-block__address {
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.71;
  color: var(--main-light);
  padding-left: 0;
  white-space: nowrap;
}
.footer-block__contacts {
  margin-top: 9px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
    padding-top: 12px;
  }
}
.footer-social__join {
  color: var(--main-light);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-social__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-social__icon {
  fill: var(--main-light);
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    padding-top: 12px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
}
.subscribe__email {
  margin-top: 20px;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
  }
}
@media screen and (min-width: 480px) {
  .subscribe__email {
    margin-bottom: 20px;
  }
}

#footer-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#footer-email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#footer-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#footer-email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#footer-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-light);
}
.subscribe-button__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe-button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.6);
          transform: translate(-50%, -50%) scale(1.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  width: 450px;
  background-color: var(--main-light);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.button-close__icon {
  width: 11px;
  height: 11px;
  fill: var(--main-dark);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.button-close__icon:hover, .button-close__icon:focus {
  fill: var(--accent-color);
}

.form {
  padding: 40px;
}
.form__title {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  margin-top: 10px;
}
.form-field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
}
.form-field__input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .form-field__input {
    width: 448px;
  }
}
.form-field:focus-within > .form-field__input {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}
.form-field:focus-within > .form-field__icon {
  fill: var(--accent-color);
}
.form-field__input-text {
  margin-top: 4px;
  padding: 12px 16px;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .form-field__input-text {
    width: 448px;
  }
}
.form-field:focus-within > .form-field__input-text {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}
.form-field__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.terms-field {
  margin-top: 20px;
}
.terms-field__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.terms-field__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.terms-field__icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-dark);
  border-radius: 2px;
}
.terms-field__checkbox:checked + .terms-field__icon {
  margin-right: 8px;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
}
.terms-field__text {
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .terms-field__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.terms-field__link {
  margin-left: 4px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .terms-field__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-button {
  cursor: pointer;
  margin: 30px auto 0;
  display: block;
  color: var(--main-light);
  background-color: var(--accent-color);
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}
.modal-button:hover, .modal-button:focus {
  background-color: #188CE8;
}

.portfolio {
  padding: 94px 0;
}

.portfolio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}
.portfolio-menu__btn {
  cursor: pointer;
  height: 38px;
  border: none;
  background-color: var(--badge-background-color);
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--main-font-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.portfolio-menu__btn:hover, .portfolio-menu__btn:focus {
  background-color: var(--accent-color);
  color: var(--main-light);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  padding-left: 0;
  background-color: inherit;
}

.portfolio-card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--main-light);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.portfolio-card__container:hover, .portfolio-card__container:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.portfolio-card__container {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.portfolio-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-font-color);
}
.portfolio-card__photo {
  position: relative;
  overflow: hidden;
}
.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-light);
  padding: 63px 24px;
}
.portfolio-card:hover .portfolio-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */