:root {
    /* font */
    --main-font: 'Roboto', sans-serif;
    /*color*/
    --main-light: #fff;
    --main-dark: #000;
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --accent-color: #2196F3;
    --main-background-color: #E5E5E5;
    --badge-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --icon-grey: #AFB1B8;
}

/* Global Styles */

body {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--main-font-color);
    background-color: var(--main-light);
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover, 
.link:focus {   
    color: var(--accent-color);
}

.button {
    cursor: pointer;
    margin-top: 30px;
    color: var(--main-light);
    background-color: var(--accent-color);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
  }

  .container-hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
  }
     
     /* outline: 2px solid tomato;*/


  h1,
  h2,
  h3,
  p,
  ul,
  li {
     margin-top: 0;   
     margin-bottom: 0;
  }


  /* Common styles */

  .section-title {
    color: var(--main-font-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  
  /*Header styles*/
   .header {
       background-color: inherit;
       border-bottom: 1px solid #ECECEC;
   }
   .site-nav {
    display: flex;
    margin-left: 93px;
    padding-left: 0;

}

.main-header  {
    display: flex;
        
}
   .site-logo { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
   }

   .site-logo-accent {
       color: var(--main-font-color);   

   }

   .main-nav {
       display: flex;
       align-items: center;
    
   }

   /*  .site-nav .item {
       outline: 2px solid tomato;
   } */

   .site-nav .item:not( :last-child) {
     margin-right: 50px;
   }

   .auth-nav{
       display: flex;
       align-items: center;
       margin-left: auto;
   }
   
   .auth-nav .item{
   /* outline: 2px solid tomato;  */
    margin-left: auto;  
   }


   .auth-nav .item + .item {
    margin-left: 50px;
}

   .nav-link {
    display: block;
    padding-top: 32px;  
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
    text-decoration: none;
   }

   .nav-link:hover, 
   .nav-link:focus {   
    color: var(--accent-color);
   }
   
   .current {
    color: var(--accent-color);
   }

   .contact-link {
    display: flex;
    align-items: center;
    padding-top: 32px;  
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--secondary-font-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   }

   .contact-link:hover,
   .contact-link:focus {
    color: var(--accent-color); 
   }

   .svg-email {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
    }

    .svg-phone {
        margin-right: 10px;
        width: 10px;
        height: 16px;
        fill: currentColor;
        }

   /* Hero style */

  .section-hero {
      text-align: center;
      background: var(--footer-background-color);
  }

  .h1 {
    display: block; 
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-light);
  } 

  .overlay {
    height: 600px; 
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url(../images/img-16.jpg);

  }

  /* Advances styles */

  .advances {
    padding: 94px 0 47px;
  }

  .icon-block {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
  }

  .svg-item-features {
    width: 77px;
    height: 77px;
    margin: 25px 100px;
  }

  .advances-title {
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  }

  .advances-text {
      width: 270px;
      margin-top: 10px;
    line-height: 1.71;
    color: var(--secondary-font-color);
  }

  .section-blocks {
    display: flex;
    padding-left: 0;
  }

  .blocks-item:not( :last-child) {
      margin-right: 30px;
  }

  /*Activity styles*/

  .activity {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  
  .activity-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 0;
  }

  /* Command style */

  .section-command {
      background: var(--badge-background-color);
      padding: 94px 0 94px;
  }

  .command-block {
      display: flex;
      justify-content: space-between;
      padding-left: 0;

  }

  .block {
     margin-bottom: 50px;
  }

   .section-card {
       background-color: var(--main-light);
       width: 270px;
       height: 428px;
       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.card-info {
    padding: 30px 0;
}

.card-name {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
}

.card-text {
color: var(--secondary-font-color);
font-size: 16px;
line-height: 1.18;
margin-top: 10px;
text-align: center;
}

.card-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 32px 30px 32px;
    white-space: nowrap;
}

.command-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%; 
    color: var(--icon-grey);
}

.command-link:hover,
.command-link:focus {
    color: var(--main-light);
    background-color: var(--accent-color);
}
.icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.icon:hover {
    fill: var(--main-light);
}

/*Clients styles*/

.company-block {
    padding: 94px 0;
   
}

.client-links {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 0;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;  
    color: var(--main-font-color);
}

.company-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;  
    height: 92px; 
    color: var(--icon-grey);
    border: 1px solid #AFB1B8;
   border-radius: 4px;
}

.company-link:hover,
.company-link:focus {
   border: 1px solid var(--accent-color);
   border-radius: 4px;
}

.company-icon {
    width: 106px;
    height: 60px;
    fill: currentColor; 
    
}

.company-link:hover svg,
.company-link:focus svg {
    fill: var(--accent-color);

}

/* Footer styles */

.footer {
    background-color: var(--footer-background-color);
    padding: 60px 0;
}

.footer-blocks {
    display: flex;
}

.footer-site-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.footer-logo-accent {
    color: var(--badge-background-color);
}

.footer-block {
    padding-left: 0;
}

.footer-address {
margin-top: 20px;
font-family: 'Roboto';
font-style: normal;
line-height: 1.71;
color: var(--main-light);
padding-left: 0;
white-space: nowrap;
}

.footer-contacts {
margin-top: 9px;
font-family: 'Roboto';
font-style: normal;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.logo-address {
    margin-right: 70px;
}

.social-blocks {
    padding-top: 12px;
}
.join {
    color: var(--main-light);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social-icons{
display: flex;
padding-left: 0;
margin-top: 20px;
} 

.icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background:  rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.icon-footer:hover {
    background-color: var(--accent-color);
}

.svg-footer {
    fill: var(--main-light);
    width: 20px;
    height: 20px;
}

/* Portfolio styles */

.portfolio {
    padding: 94px 0;
}

.section-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 0;
    background-color: inherit;
}

.portfolio-btn {
cursor: pointer;
height: 38px;
border: none;
background: var(--badge-background-color);
border-radius: 4px;
padding: 6px 22px;
margin-right: 8px;
color: var(--footer-background-color);
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: var(--main-font-color);

}

.portfolio-btn:hover,
.portfolio-btn:focus {
   background-color: var(--accent-color);
   color: var(--main-light);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}

.accent {
    color: var(--main-light);
    background-color: var(--accent-color);
}

.portfolio-menu {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.container-bg {
box-sizing: border-box;
width: calc((100% - 60px) / 3);
margin-right: 30px;
margin-bottom: 30px;
background: var(--main-light);
}

.container-bg:nth-child(3n) {
    margin-right: 0;

}

.container-bg:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.portfolio-container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.container-title {
margin-bottom: 4px;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.container-text {
font-size: 16px;
line-height: 1.87;
color: var(--secondary-font-color);
}

.photo-portfolio {
    display: block;
}
