.logo { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);

   
 &--black {
    color: var(--main-font-color);   
   
   }

 &--white {
    color: var(--badge-background-color);
 }
}