.command {
    background: var(--badge-background-color);
    padding: 94px 0 94px;
}

.command-blocks {
    display: flex;
    justify-content: space-between;
    padding-left: 0;

}

.command-card {
  background-color: var(--main-light);
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;


 &__info {
  padding: 30px 0;
 }

 &__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
 }

 &__text {
 color: var(--secondary-font-color);
 font-size: 16px;
 line-height: 1.18;
 margin-top: 10px;
 text-align: center;
 }
} 

.command-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 32px 30px 32px;
  white-space: nowrap;


 &__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%; 
  color: var(--icon-grey);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
 }

 &__link:hover,
 &__link:focus {
  color: var(--main-light);
  background-color: var(--accent-color);
 }
 
 &__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
 }

 &__icon:hover {
  fill: var(--main-light);
 }
} 