:root {
    /* font */
    --main-font: 'Roboto', sans-serif;
    /*color*/
    --main-light: #fff;
    --main-dark: #000;
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --accent-color: #2196F3;
    --main-background-color: #E5E5E5;
    --badge-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --icon-grey: #AFB1B8;
    /*animation*/
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* grid items */
    --indent: 30px;
}